.container{
    border: solid 1px #B5D5BD !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.md-toolbar-tools{
    background-color: lightblue;
    width: 102%;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.version-control{
    border: 1px solid lightgrey;
    padding:5px;
    margin:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}
.bi-blue{
    color:rgb(35, 93, 221)!important;

}

md-checkbox.white-frame .md-icon {
 border:1px solid rgb(35, 93, 221);
}

.flex-one {
    -webkit-flex-flow: column;
    -ms-flex-direction: column;
     padding-left:20px;
}

.tooltip.bottom  {
    /*TO MOVE THE TOLL-TIP BOX*/
    left: -311px !important;
}

.tooltip.bottom .tooltip-inner {
    background-color:rgb(35, 93, 221);;
    color:#000000 ;
    /*TO GROW THE INNER TOOLTIP INNER*/
    min-width: 380px ;
    text-align: left !important;
    padding:2px 0;
}

.tooltip.bottom .tooltip-arrow {
    margin-left: 234px;
}


.tooltip.top .tooltip-inner {
    background-color:rgb(35, 93, 221);
    font-size: large;
    padding-bottom: 2px;
}

.shade{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

 .ui-grid-viewport {
   height: auto !important;
   max-height: 200px !important;
   /*padding-bottom: 40px !important;*/
 }

 .ui-grid {
   height: auto !important;
   max-height: 221px !important;
   padding-bottom: 40px !important;
 }

.reponsive-display-list{
   display:'';
}
.layout, .layout-column, .layout-row {
   display: -webkit-flex;
}

/*.vAccordion--default{
   position: relative;
}*/
.bi-mobile-grid{
    color:#2196F3 !important;
   padding: 0 5px;
}
.bi-form-control-mobile-grid{
   border-radius: 0 !important;
   -webkit-box-shadow: 0 !important;
   box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075) !important; 
}
