.container{
    border: solid 1px #B5D5BD !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.md-toolbar-tools{
    background-color: lightblue;
    width: 102%;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.tooltip-inner {
    min-width: 300px !important;
    background-color: #FFF !important;
    border: solid 1px lightgrey !important;
    color:#EC197A !important;
}

.tooltip-arrow {
        border-right-color:lightgrey !important;
        margin-left: 17px !important;
}

 .ui-grid-viewport {
   height: 292px !important;
 }
