<div class="container-fluid" >
  <tool-bar-menu></tool-bar-menu>
  <md-card-title>
    <md-card-title-text class="text-primary">
      <span class="md-headline" style="font-size:18px">{{datasrc.Label}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 col-xs-12">
        <div class="{{datasrc.OptionListOrientation}}" ng-repeat="optionsArray in CheckListCtrl.optionsArrayToDisplay track by $index" style="margin-left: -20px; margin-top: -10px">
          <div class="{{datasrc.OptionListOrientation}}" ng-repeat="option in optionsArray track by $index">
            <md-checkbox class="md-primary" data-projectId=" {{datasrc.ProjectId}}"
            data-ProjectFieldId="{{datasrc.ProjectFieldId}}"
            value="{{option}}"
            ng-click="CheckListCtrl.selectedCheckBoxValue(option)">
              {{option}}
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</div>
