<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <label class="text-primary" ng-show="datasrc.IsActive">{{datasrc.Label}}</label>
        </div>
        <div class="col-md-6">
          <select name="{{datasrc.Label}} "
          class="form-control" focus="someFocusVariable"
          data-projectId=" {{datasrc.ProjectID}}"
          data-ProjectInputControlId="{{datasrc.ProjectInputControlId}}"
          ng-model="answer"
          ng-show="datasrc.IsActive"
          ng-options="item for item in datasrc.OptionList.split(',')">
          <option value="">Choose One</option>
          </select>
        </div>
        <!-- checbox and tag -->
        <div class="col-md-1">
          <div class="col-md-6">
            <input style="float: right;" type="checkbox"/>
          </div>
          <div class="col-md-6">
            <span style="float: right;" uib-tooltip="{{datasrc.ToolTip}}"
            tooltip-placement="right"
            toolTip-trigger="{{datasrc.ToolTipTrigger}}"
            data-ProjectId=" {{datasrc.ProjectId}}"
            class="glyphicon glyphicon-tag"
            aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">

    </div>
  </div>
</div>
