<div class="container-fluid">
  <div class="row visible-md visible-lg">
    <div class="grid" ui-grid="gridOptions"></div>
  </div>

  <md-card class="visible-xs visible-sm">
    <md-card-content>
      <v-accordion class="vAccordion--default" multiple>

        <!-- add expanded attribute to open the section -->
        <v-pane ng-repeat="header in myData.header track by $index" enabled>
          <v-pane-header>
            {{header}}
          </v-pane-header>

          <v-pane-content>
            {{myData.id}}
          </v-pane-content>
        </v-pane>

      </v-accordion>
    </md-card-content>
  </md-card >
</div>
