<div class="container-fluid">
  <div class="row visible-md visible-lg">
    <div class="grid" data-ProjectFieldId="{{mobileDataSrc.ProjectFieldId}}"
    data-ProjectId=" {{mobileDataSrc.ProjectId}}" ui-grid="gridOptions"></div>
  </div>
  <md-card class="visible-xs visible-sm">
    <!-- <md-card> -->
    <md-card-content>
      <v-accordion class="vAccordion--default" multiple>
        <!-- add expanded attribute to open the section -->
        <v-pane data-ProjectFieldId="{{mobileDataSrc.ProjectFieldId}}"
        data-ProjectId=" {{mobileDataSrc.ProjectId}}"
        enabled ng-model="mobileDataSrc[1].header"
        ng-repeat="item in mobileDataSrc[0] track by $index">
          <v-pane-header>
            {{mobileDataSrc[1].header[$index]}}
          </v-pane-header>
          <v-pane-content>
            <div ng-repeat="content in item track by $index">
              {{content}}<br>
            </div>
          </v-pane-content>

        </v-pane>
      </v-accordion>
    </md-card-content>
  </md-card >
</div>
