<div class="container-fluid">
  <tool-bar-menu></tool-bar-menu>
  <md-card-title>
    <md-card-title-text class="text-primary">
      <span class="md-headline" ng-show="datasrc.IsActive" style="font-size:18px">{{datasrc.Label}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 col-xs-12">
        <div class="{{datasrc.OptionListOrientation}}"
        ng-repeat="optionsArray in RadioListCtrl.optionsArrayToDisplay track by $index"
        style="margin-left: -20px; margin-top: -10px">
          <div class="{{datasrc.OptionListOrientation}}" ng-repeat="option in optionsArray track by $index">
              <label style="cursor:pointer;">
                <input data-ProjectFieldId="{{datasrc.ProjectFieldId}}" data-projectId=" {{datasrc.ProjectId}}"
                ng-show="datasrc.IsActive" name="datasrc.FieldTypeId" ng-model="datasrc.Answer"  type="radio"/>
                {{option}}
              </label>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</div>
