<div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
        <div class="row">
				<div class="col-md-5">
          <label class="text-primary" ng-show="datasrc.IsActive">{{datasrc.Label}}</label>
				</div>
				<div class="col-md-6">
               <input type="text"
               uib-typeahead="option for option in datasrc.OptionList.split(',') | filter:$viewValue | limitTo:8"
               class="form-control ng-valid ng-dirty ng-valid-parse ng-touched"
               style="height: 100%;"
               placeholder={{datasrc.PlaceHolder}}
               data-ProjectId=" {{datasrc.ProjectId}}"
               data-ProjectFieldId="{{datasrc.ProjectFieldId}}"
               ng-model="selected">
				</div>
				<div class="col-md-1">
            <div class="col-md-6">
              <input class="hidden-xs hidden-sm" style="float: right;" type="checkbox"/>
  			  	</div>
  			  	<div class="col-md-6">
              <span style="float: right;"
              uib-tooltip="{{datasrc.ToolTip}}"
              tooltip-placement="right"
              toolTip-trigger="{{datasrc.ToolTipTrigger}}"
              data-ProjectId=" {{datasrc.ProjectId}}"
              class="glyphicon glyphicon-tag hidden-xs hidden-sm"
              aria-hidden="true">
              </span>
  				 </div>
				</div>
			</div>
  		</div>
  	</div>
</div>
