<div class="container-fluid">
   <tool-bar-menu></tool-bar-menu>
    <md-card-title>
      <md-card-title-text class="text-primary">
        <span class="md-headline"  style="font-size:18px" ng-show="datasrc.IsActive">{{datasrc.Label}}</span>
        <!-- <span class="md-subhead text-default">Card subheader</span> -->
      </md-card-title-text>
     </md-card-title>
     <md-card-content>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <textarea onblur-save
          type="{{datasrc.DataType}}"
 	        class="form-control"
 	        ng-attr-placeholder="{{datasrc.PlaceHolder}}"
 	        value="{{datasrc.Answer}}"
 	        uib-tooltip="{{datasrc.ToolTip}}"
 	        tooltip-placement="{{datasrc.ToolTipPlacement}}"
 	        toolTip-trigger="{{datasrc.ToolTipTrigger}}"
 	        data-ProjectId=" {{datasrc.ProjectId}}"
 	        data-fieldtypeid="{{datasrc.FieldTypeId}}"
 	        ng-readonly="false"
 	        ng-model="datasrc.Answer"
 	        ng-show="datasrc.IsActive"></textarea>
        </div>
      </div>
    </md-card-content>
</div>
