<div class="row custom" ng-controller="generalController" style="float:right;">
  <div class="col-md-12">
      <div class="row">
    <div ng-if="!hideToggle" style="height:4px;background-color:white;text-align:left;margin:0 5px">
      <span class="glyphicon glyphicon-minus text-primary" ng-click="showMenuToggle()" ng-hide="hideToggle"
      style="font-size:25px;top:-10px;right:8px;"></span>
    </div>
    </div>

      <div ng-if="hideToggle">
        <div class="row">
          <div class="col-xs-4">
            <md-checkbox aria-label class="bi-blue white-frame"></md-checkbox>
          </div>
          <div class="col-xs-4">
            <ng-md-icon class="bi-blue" icon="clear" ng-click="showMenuToggle()"
            style="color:#ffffff; font-size: 20px;"></ng-md-icon>
          </div>
          <div class="col-xs-4 custom">
            <ng-md-icon class="bi-blue " aria-hidden="true" data-ProjectId=" {{datasrc.ProjectId}}"
            icon="history" style="float: left; color:#ffffff;font-size:20px;"
            toolTip-trigger="click" tooltip-placement="bottom"
              class="bottom-left"
            uib-tooltip-template="'views/components/tool-tip-template.html'"></ng-md-icon>
          </div>
        </div>

    </div>
  </div>
</div>
