<!doctype html>
<div>
  <!-- SEARCH PROJECT -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="margin:10px;">
                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">Search</span>
                        <input type="search"
                        class="form-control"
                        placeholder="type project name"
                        autofocus
                        ng-keyup="main.search($event)"
                        ng-model="main.searchKey">
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
      <!-- LIST PROJECTS -->
    <div class="jumbotron" style="text-align:left">
      <div ng-repeat="project in main.projects track by $index" ><div><span><strong>Project : </strong></span>
        <a ng-click="main.gotToProject(project.ProjectName)"
        style="cursor:pointer;">{{project.ProjectName}}</a></div></div>
    </div>
</div>
