
<div class="col-md-12 column" style="padding-bottom: 15px;padding-top: 10px;">
  <div class="row clearfix">
    <div class="col-md-4 column">
      <div class="glyphicon glyphicon-home" popover-title="Home" style="font-size: 36px; cursor:pointer;color:grey" ng-click="project.goHome()"></div>
      <div class="glyphicon glyphicon-cog" style="font-size: 36px; cursor:pointer;color:grey;" ng-click="project.goEditTemplate()"></div>
    </div>
    <div class="col-md-4 column">
      <div class="btn btn-primary" style="margin: 10px;" type="button">
        Project Name :
        <span class="badge">{{project.projectName}}</span>
      </div>
    </div>
    <div class="col-md-4 column">
      <div class="btn btn-success" style="margin: 10px;" type="button">
        Template:
        <span class="badge">{{project.template}}</span>
      </div>
    </div>
  </div>
</div>
<!--Body-->
<hr>
<form class="form-horizontal" role="form">
<div ng-repeat="component in  project.componentConfig track by $index" style="padding-top: 20px">
  <div bi-form-creator datasrc="component"></div>
</div>
</form>

<!--Footer-->
<div class="page page-table col-lg-12">
<span tooltip="{{btnToolTip}}" class="{{btnColorClass}}" ng-class="toggleEditClass" ng-click="edit(ctrl.field)" style="float:right; cursor: pointer;width:79px">&nbsp{{btnToolTip}}</span>
</div>
<!-- END OF EDITING TEMPLATE -->
