<application-header></application-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-1  col-lg-offset-4">
      <div class="row" ng-repeat="component in templateBuilder.components track by $index">
          <md-button class="md-raised md-primary"
                      data-fieldtypeid="{{component.FieldType}}"
                      ng-click="templateBuilder.createComponent(component.Directive)">{{component.FieldType}}</md-button>
      </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
      <md-card>
        <md-content>
          <md-title class="text-center">
            <h1 >PREVIEW</h1>
          </md-title>
          <hr>
          <div id="testElement">
            <h3>i'm appending</h3>
          </div>
          <form class="form-horizontal" role="form">
            <div ng-repeat="component in  templateBuilder.componentConfig track by $index" ng-show="{{component.Access}}" style="padding-top: 20px">
              <div ng-if="component.FieldType !== 'TITLE' && component.FieldType !== 'SUBTITLE'
                                  && component.FieldType !== 'GRID' && component.FieldType !== 'LABEL' && component.FieldType !== 'IMAGE'">
                <md-card>
                  <div bi-form-creator datasrc="component"></div>
                </md-card>
              </div>
              <div ng-if="component.FieldType === 'TITLE' || component.FieldType === 'SUBTITLE'
                                    || component.FieldType === 'GRID' || component.FieldType === 'LABEL'||component.FieldType === 'IMAGE'">
                <div bi-form-creator datasrc="component"></div>
              </div>
            </div>
          </form>
        </md-content>
      </md-card>
    </div>
  </div>
</div>
